#footer
  script(src="http://code.jquery.com/jquery.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/jquery.imgareaselect/scripts/jquery.imgareaselect.pack.js")
  script(src="/javascripts/color-picker/js/bootstrap-colorpicker.min.js")
  script(src="/javascripts/main.js")